* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 95%;
    margin: 32px;
}

@keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

body {
    background-color: #3FA9F5; 
    background-image: url(./assets/cloud_gap.svg);
    /* background-repeat: repeat; */
    /* background-repeat: space; */
    overflow: hidden;
    overflow-y: scroll;
    animation: moveBackground 30s linear infinite; /* Adjust duration as needed */
  
}

.cards {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}